/* место для кода*/

.body {
  position: relative;
  background-color: #fff;
}

.text-accent__color_international-orange {
  color: #ff530e;
}

.text-accent__color_selective-yellow {
  color: #febc00;
}

.text-accent__color_dark-lime {
  color: #01af00;
}

.text-accent__color_pure-blue {
  color: #009de2;
}

.text-accent__color_moderate-red {
  color: #cf5935;
}

.text-accent__color_vivid-orange {
  color: #ef9c1d;
}

.text-accent__color_bright-orange {
  color: #ed8738;
}

.text-accent__color_pale-blue {
  color: #a4bcff;
}

.text-accent__color_moderate-green {
  color: #94cf40;
}

.text-accent__color_soft-blue {
  color: #4fadf7;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1480px;
  min-height: 134px;
  padding: 0 120px;
  background-color: transparent;
  background-image: url(../images/background-header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: calc(50% - 739.5px);
  z-index: 100;
  gap: 10px;
}

.body__header {
  margin: 0 auto;
}

.header__menu {
  min-width: 390px;
}

.header__links-list {
  display: flex;
  justify-items: start;
  justify-content: space-between;
  min-width: 540px;
  min-height: 60px;
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  line-height: 32px;
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 167px;
  height: 53px;
  margin: 0;
  padding: 0;
}

.header__logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.header__button-nav {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-image: url(../images/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  display: none;
  margin: 0;
  padding: 0;
  transition: opacity 1s ease;
}

.header__button-nav_opened {
  background-image: url(../images/Close-Icon.svg);
}

.header__button-nav:hover {
  opacity: 0.8;
}

.cover {
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "cover-title photo"
    "cover-description photo"
    "list photo";
  max-width: 1480px;
  height: 100%;
  padding: 174px 120px 40px;
  background-color: #4fadf7;
  background-image: url(../images/waves.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
}

.body__cover {
  margin: 0 auto;
}

.cover__title {
  width: 100%;
  color: #fff;
  font-family: Comfortaa, sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 130%;
  grid-area: cover-title;
}

.cover__description {
  max-width: 720px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 160%;
  text-align: left;
  grid-area: cover-description;
}

.cover__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  padding: 0 0 20px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 167%;
  text-align: left;
  list-style: none;
  grid-area: list;
}

.cover__list-item {
  height: 50px;
  padding: 0 0 0 67px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.cover__list-item-tasty {
  background-image: url(../images/basket.svg);
}

.cover__list-item-vitamin {
  background-image: url(../images/Truck.svg);
}

.cover__list-item-chemistry {
  background-image: url(../images/ListCheck.svg);
}

.cover__image {
  width: 480px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  grid-area: photo;
}

.about-company {
  max-width: 1480px;
  padding: 120px 120px 0;
}

.body__about-company {
  margin: 0 auto;
}

.about-company__info {
  display: flex;
  justify-content: space-between;
  min-height: 532px;
}

.about-company__mission {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-image: url(../images/Noris_orange.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 392px;
}

.about-company__header {
  color: #000;
  font-family: Comfortaa, sans-serif;
  font-weight: bold;
  font-size: 50px;
  font-style: normal;
  line-height: 100%;
}

.about-company__description {
  max-width: 585px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 160%;
}

.about-company__description_orange {
  max-width: 586px;
  height: 100%;
  border-radius: 10px;
  padding: 50px 70px;
  color: #f5f5f5;
  background-color: #ed8738;
}

.about-company__extra-info {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 50px 32px;
  background-color: #94cf40;
  gap: 10px;
}

.about-company__text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 556px;
}

.about-company__philosophy {
  font-size: 20px;
  line-height: 150%;
  font-family: Comfortaa, sans-serif;
}

.about-company__text-block > .about-company__description {
  font-size: 17px;
  line-height: 176%;
}

.about-company__video {
  width: 565px;
  height: 317px;
  border-radius: 10px;
  box-shadow: 22px -27px #ffbf00;
  margin-top: 30px;
}

.products {
  max-width: 1480px;
  min-height: 700px;
  padding: 120px 120px 0;
  background-image: url(../images/waves2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.body__products {
  margin: 0 auto;
}

.products__header {
  color: #000;
  font-family: Comfortaa, sans-serif;
  font-weight: bold;
  font-size: 50px;
  font-style: normal;
  line-height: 100%;
  width: 100%;
}

.products__list {
  list-style: none;
}

.products__list-group {
  display: grid;
  list-style: none;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.products__group-name {
  font-family: Comfortaa;
  font-weight: bold;
  font-size: 24px;
  font-style: normal;
  line-height: 133%;
  text-transform: uppercase;
  padding: 50px 0 0;
}

.product-card {
  height: 320px;
  font-size: 18px;
  line-height: 139%;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-card__image {
  height: 270px;
  object-fit: contain;
  object-position: center;
}

.advantages {
  position: relative;
  z-index: -2;
  max-width: 1480px;
  padding: 120px 120px 0;
  background-image: url(../images/waves3.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.body__advantages {
  margin: 0 auto;
}

.advantages__overlay {
  position: absolute;
  z-index: -1;
  width: calc(100% - 240px);
  height: calc(100% - 82px);
  background-image: url(../images/noris_group.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 65%;
}

.advantages__header {
  color: #000;
  font-family: Comfortaa, sans-serif;
  font-weight: bold;
  font-size: 50px;
  font-style: normal;
  line-height: 100%;
}

.advantages__list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  min-height: 761px;
  padding: 46px 0 0;
}

.advantages__list-item {
  max-width: 320px;
}

.advantages__list-item:nth-child(2n) {
  justify-self: end;
  max-width: 300px;
}

.advantages__list-item:nth-child(4n + 3),
.advantages__list-item:nth-child(4n + 4) {
  align-self: end;
}

.advantages__heading {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 139%;
  padding: 0 80px 0 0;
}

.advantages__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.footer {
  display: grid;
  max-width: 1480px;
  padding: 120px 120px 50px;
  min-height: 451px;
  gap: 20px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header header"
    "info info links links "
    "info info adress adress "
    "copyright copyright adress adress";
}

.body__footer {
  margin: 0 auto;
}

.footer__header {
  font-family: Comfortaa, sans-serif;
  font-weight: bold;
  font-size: 50px;
  font-style: normal;
  line-height: 100%;
  grid-area: header;
}

.footer__cooperation-info {
  font-weight: 400;
  font-size: 17px;
  line-height: 176%;
  color: #f5f5f5;
  background-color: #4fadf7;
  border-radius: 10px;
  padding: 40px 31px;
  max-width: 650px;
  grid-area: info;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 213%;
  grid-area: copyright;
}

.footer__copyright-year {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 213%;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  list-style: none;
  grid-area: links;
}

.footer__social-list-item {
  display: flex;
  width: 80px;
  height: 80px;
  background-color: #4fadf7;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}

.footer__social-list-item:first-of-type {
  background-color: #fff;
  width: 300px;
  justify-content: start;
}

.footer__social-list-item:nth-of-type(3) {
  background-color: #94cf40;
}

.footer__social-list-item:nth-of-type(4) {
  background-color: #ed8738;
}

.footer__social-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.footer__logo {
  object-fit: contain;
}

.address {
  min-width: 520px;
  min-height: 75px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 178%;
  display: flex;
  justify-content: space-between;
  grid-area: adress;
  align-items: end;
}

.adress__links,
.address__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.address__link,
.address__city {
  text-decoration: none;
  padding: 0 0 0 48px;
  background-image: url(../images/email.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.address__link:nth-of-type(2) {
  background-image: url(../images/phone-call.svg);
}

.address__city {
  background-image: url(../images/placeholder.svg);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  justify-content: flex-end;
  z-index: 1;
}

.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 0.9;
}

.popup__container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
  align-items: center;
  margin: 0;
  padding: 125px 0 20px;
}

.popup__nav {
  margin: 0;
  padding: 0;
  width: 100%;
}

.popup__links-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.popup__link {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2222;
  text-align: center;
  color: #000;
  text-decoration: none;
  padding: 0 0 4px;
  margin: 22px 0 0;
  box-sizing: border-box;
}

.popup__link_type_button {
  padding: 0;
  margin: 0;
  cursor: default;
}

.popup__link:hover {
  border-bottom: 2px solid #000;
}

.popup__link_type_button:hover {
  border: none;
}

.popup__button {
  width: 100px;
  min-height: 32px;
  background-color: #f4f4f4;
  border-radius: 20px;
  border: none;
  margin: 90px 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.popup__button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1480px) {
  .header {
    width: 100%;
    left: 0;
    padding: 0 100px;
  }

  .cover {
    max-width: 100%;
    padding: 150px 100px 40px;
  }

  .cover__title {
    font-size: 40px;
  }

  .cover__description {
    font-size: 18px;
  }

  .cover__image {
    width: 380px;
  }

  .about-company {
    max-width: 100%;
    padding: 120px 100px 0px;
  }

  .about-company__header {
    font-size: 40px;
  }

  .about-company__info {
    gap: 10px;
  }

  .about-company__description {
    font-size: 18px;
  }

  .about-company__description_orange {
    max-width: 430px;
    padding: 38px 50px;
  }

  .about-company__philosophy {
    font-size: 18px;
  }

  .about-company__extra-info {
    padding: 30px 32px;
  }

  .about-company__text-block > .about-company__description {
    font-size: 16px;
  }

  .about-company__video {
    width: 390px;
    height: 218px;
    margin-top: 70px;
  }

  .products {
    max-width: 100%;
    padding: 120px 100px 0;
  }

  .products__header {
    font-size: 40px;
  }

  .advantages {
    max-width: 100%;
    padding: 120px 100px 0;
  }

  .advantages__header {
    font-size: 40px;
  }

  .advantages__list {
    min-height: 650px;
  }

  .advantages__overlay {
    background-size: 55%;
    background-position: center;
  }

  .advantages__list-item {
    max-width: 300px;
  }

  .advantages__list-item:nth-child(2n) {
    max-width: 280px;
  }

  .footer {
    max-width: 100%;
    padding: 120px 100px 50px;
  }

  .footer__header {
    font-size: 40px;
  }

  .footer__cooperation-info {
    padding: 25px 30px;
  }

  .footer__social-list {
    min-width: 420px;
  }

  .footer__social-list-item {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .footer__social-list-item:first-of-type {
    width: 250px;
  }

  .footer__social-icon {
    width: 30px;
    height: 30px;
  }

  .address {
    flex-direction: column;
    gap: 10px;
    min-width: 420px;
    font-size: 16px;
    align-items: start;
  }
}

@media screen and (max-width: 1150px) {
  .header {
    padding: 0 50px;
  }

  .header__links-list {
    min-width: 450px;
  }

  .cover {
    padding: 130px 50px 20px;
    background-size: contain;
  }

  .cover__title {
    font-size: 30px;
  }

  .cover__description {
    font-size: 16px;
  }

  .cover__image {
    width: 290px;
    margin-top: 30px;
  }

  .about-company {
    padding: 120px 50px 0px;
  }

  .about-company__header {
    font-size: 30px;
  }

  .about-company__info {
    min-height: 470px;
  }

  .about-company__description {
    font-size: 16px;
  }

  .about-company__description_orange {
    max-width: 350px;
    padding: 55px 40px;
  }

  .about-company__mission {
    background-size: 330px;
  }

  .about-company__extra-info {
    flex-direction: column;
    padding: 20px;
  }

  .about-company__text-block {
    max-width: 100%;
    gap: 10px;
  }

  .about-company__text-block > .about-company__description {
    max-width: 100%;
  }

  .about-company__video {
    width: 640px;
    height: 360px;
    margin: 30px auto 0;
  }

  .products {
    padding: 120px 50px 0;
    background-repeat: space;
    background-size: contain;
  }

  .products__header {
    font-size: 30px;
  }

  .products__group-name {
    font-size: 20px;
    padding-top: 30px;
  }

  .products__list-group {
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages {
    padding: 120px 50px 0;
    background-size: contain;
    background-position: center;
  }

  .advantages__header {
    font-size: 30px;
  }

  .footer {
    padding: 120px 50px 50px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "header "
      "links "
      "info"
      "adress "
      "copyright";
  }

  .footer__header {
    font-size: 30px;
  }

  .footer__cooperation-info {
    max-width: 100%;
  }

  .footer__social-list {
    margin-top: 20px;
    gap: 20px;
  }

  .footer__social-list-item {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .footer__social-list-item:first-of-type {
    width: 80%;
  }

  .footer__social-icon {
    width: 30px;
    height: 30px;
  }

  .address {
    flex-direction: row;
    gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding: 0 20px 20px;
    min-height: 100px;
  }

  .header__logo {
    width: 100px;
    height: 30px;
  }

  .header__menu {
    min-width: 320px;
  }

  .header__links-list {
    min-width: 340px;
    min-height: 30px;
  }

  .header__link {
    font-size: 14px;
    line-height: 30px;
  }

  .cover {
    padding: 100px 20px 20px;
  }

  .cover__title {
    font-size: 25px;
  }

  .cover__description {
    font-size: 16px;
  }

  .cover__list {
    gap: 10px;
    font-size: 14px;
    line-height: 120%;
  }

  .cover__list-item {
    height: 30px;
  }

  .cover__image {
    width: 240px;
  }

  .about-company {
    padding: 90px 20px 0px;
  }

  .about-company__header {
    font-size: 25px;
  }

  .about-company__info {
    min-height: 450px;
  }

  .about-company__description {
    font-size: 15px;
  }

  .about-company__description_orange {
    max-width: 300px;
    padding: 25px 40px;
  }

  .about-company__mission {
    background-size: 250px;
    gap: 10px;
  }

  .about-company__video {
    width: 500px;
    height: 281px;
  }

  .products {
    padding: 90px 20px 0;
  }

  .products__header {
    font-size: 25px;
  }

  .products__group-name {
    font-size: 18px;
    padding-top: 25px;
  }

  .products__list-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .advantages {
    padding: 90px 20px 0;
    min-height: 750px;
  }

  .advantages__header {
    font-size: 25px;
  }

  .advantages__list {
    grid-template-columns: repeat(1, 1fr);
    min-height: 430px;
    padding-top: 30px;
  }

  .advantages__overlay {
    background-position-y: bottom;
    background-position-x: calc(50% + 80px);
  }

  .advantages__list-item {
    max-width: 100%;
  }

  .advantages__list-item:nth-child(2n) {
    max-width: 100%;
  }

  .footer {
    padding: 50px 20px 30px;
  }

  .footer__header {
    font-size: 25px;
  }

  .footer__social-list-item:first-of-type {
    width: 75%;
  }
}

@media screen and (max-width: 620px) {
  .header__menu {
    min-width: 30px;
  }

  .header__links-list {
    display: none;
  }

  .header__button-nav {
    display: flex;
  }

  .cover {
    padding-top: 90px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "cover-title"
      "cover-description"
      "photo"
      "list";
  }
  

  .cover__title {
    font-size: 20px;
    text-align: center;
  }
  
  .cover__description {
    text-align: center;
  }

  .cover__list {
    font-size: 13px;
  }

  .cover__list-item {
    padding: 0 0 0 40px
  }

  .cover__image {
    width: 290px;
    margin: 0 auto;
  }

  .about-company {
    padding: 90px 0 0;
  }

  .about-company__header {
    font-size: 20px;
  }

  .about-company__info {
    min-height: 470px;
    flex-direction: column;
    gap: 0;
  }

  .about-company__description {
    font-size: 16px;
  }

  .about-company__description_orange {
    max-width: 100%;
    padding: 20px;
    background-color: #94cf40;
    border-radius: 0;
    color: #000;
    text-align: center;
  }

  .about-company__mission {
    padding: 0 20px 130px;
    background-position: bottom right;
  }

  .about-company__extra-info {
    border-radius: 0;
    background-color: #ed8738;
  }

  .about-company__text-block {
    max-width: 100%;
    gap: 10px;
  }

  .about-company__text-block > .about-company__description {
    max-width: 100%;
  }

  .about-company__video {
    width: 280px;
    height: 158px;
    margin: 15px auto 0;
    box-shadow: 15px -15px #ffbf00;
  }

  .products__header {
    font-size: 20px;
  }

  .products__group-name {
    font-size: 18px;
    padding-top: 20px;
  }

  .products__list-group {
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .product-card {
    font-size: 15px;
  }

  .advantages {
    padding-bottom: 150px;
    background-size: contain;
    background-position: center;
  }

  .advantages__header {
    font-size: 20px;
  }

  .advantages__overlay {
    width: calc(100% - 40px);
    background-size: 150px;
    background-position-x: calc(50% - 20px);
  }

  .footer {
    padding: 90px 20px 50px;
  }

  .footer__header {
    font-size: 20px;
  }

  .footer__cooperation-info {
    padding: 10px 15px;
  }

  .footer__social-list {
    width: 100%;
    min-width: 280px;
  }

  .footer__social-list-item {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .footer__social-list-item:first-of-type {
    width: 50%;
  }

  .footer__social-icon {
    width: 25px;
    height: 25px;
  }

  .address {
    flex-direction: column;
    width: 100%;
    justify-content: start;
    min-width: 280px;
  }
}
